Repository cardano-foundation/developer-portal, pull requests merged in 2022-11, with the labels that each got.

#846 link transparently to operations book Environments page
  docs/get-started/running-cardano.md
  yarn.lock
Labels: documentation

#847 Update Changelog (End of October)
  CHANGELOG.md
Labels: changelog

#844 Add Changelog link into Contribute section
  sidebars.js
Labels: documentation

#845 Add multiple PR templates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/builder-tool.md
  .github/PULL_REQUEST_TEMPLATE/showcase.md
  .github/PULL_REQUEST_TEMPLATE/standard-change.md
Labels: documentation, good first issue

#841 Add STAMPD showcase
  src/data/showcase/stampd.png
  src/data/showcases.js
Labels: showcase

#842 Modify image for 'Cardano connect with wallet' builder tool
  src/data/builder-tools/cardano-connect-with-wallet.png
Labels: builder tool

#851 Replace Changelog title and remove copyright
  docusaurus.config.js
Labels: changelog

#858 Fix preprod typo
  docs/get-started/running-cardano.md
Labels: typo

#859 Added Grafana Loki page
  docs/stake-pool-course/handbook/grafana-loki.md
  sidebars.js
  static/img/stake-pool-course/loki-4-panels.png
  static/img/stake-pool-course/loki-add-dashboard.png
  static/img/stake-pool-course/loki-explore-labels.png
  static/img/stake-pool-course/loki-explore-loki.png
  static/img/stake-pool-course/loki-final-dashboard.png
  static/img/stake-pool-course/loki-grafana-configure-ip.png
  static/img/stake-pool-course/loki-grafana-data-source-loki.png
  static/img/stake-pool-course/loki-grafana-datasource.png
  static/img/stake-pool-course/loki-grafana-select-loki.png
  static/img/stake-pool-course/loki-hot2cold.png
  static/img/stake-pool-course/loki-labels.png
  static/img/stake-pool-course/loki-select-loki.png
  static/img/stake-pool-course/loki-show-logs.png
  static/img/stake-pool-course/loki-test-relay1-explore.png
Labels: documentation, stake pool operators

#850 Update testnet faucet link
  docs/integrate-cardano/listening-for-payments-cli.md
Labels: bug, documentation

#849 Revamp stake pool course | Adding Cardano Node Installation
  docs/stake-pool-guide/node-installation-process.md
  sidebars.js
Labels: documentation

#860 Add Kogmios builder-tool
  src/data/builder-tools.js
  src/data/builder-tools/kogmios.png
Labels: builder tool

#854 Replace outdated website link for Marlowe Playground
  src/data/builder-tools.js
Labels: builder tool

#782 Add TapTools showcase
  src/data/showcase/taptools.png
  src/data/showcases.js
Labels: showcase

#863 Added "User wallet authentication" to documentation
  docs/integrate-cardano/user-wallet-authentication.md
  sidebars.js
Labels: documentation

#867 Add Shareslake to showcase
  src/data/showcase/shareslake.png
  src/data/showcases.js
Labels: showcase
