Repository cardano-foundation/developer-portal, pull requests merged in 2022-01, with the labels that each got.

#466 Add ADAdice to the project showcase
  src/data/showcase/adadice.png
  src/data/showcases.js
Labels: showcase

#475 Token Registry Script
  .gitignore
  package.json
  scripts/token-registry.ts
  sidebars.js
Labels: enhancement

#471 cardano-wallet-interface showcase addition
  src/data/builder-tools.js
  src/data/builder-tools/cardano-wallet-interface.png
Labels: builder tool

#443 Added Builder Tool: Cardano Light Tools
  src/data/builder-tools.js
  src/data/builder-tools/cardano-light-tools.png
Labels: builder tool

#431 Automint - Python library
  src/data/builder-tools.js
  src/data/builder-tools/automint.png
Labels: builder tool

#485 Added Cardahub
  src/data/showcase/cardahub.png
  src/data/showcases.js
Labels: showcase
