Repository cardano-foundation/developer-portal, pull requests merged in 2022-10, with the labels that each got.

#784 Add Mesh into builder tools and showcases
  src/data/builder-tools.js
  src/data/builder-tools/mesh.png
Labels: builder tool

#809 Adding a link to Plutus resources on Cardano Docs
  docs/smart-contracts/plutus.md
Labels: documentation

#807 Adding Cardano Leader Slot
  src/data/builder-tools.js
  src/data/builder-tools/leader-slot.png
Labels: builder tool

#811 Revamp stake pool course | add Networking page
  docs/stake-pool-guide/stake-pool-networking.md
  sidebars.js
  static/img/stake-pool-guide/stake-pool-network.jpg
  static/img/stake-pool-guide/stake-pool-setup.jpg
Labels: documentation

#808 Add Frankenwallet builder tool
  docs/operate-a-stake-pool/frankenwallet.md
  sidebars.js
  src/data/builder-tools.js
  src/data/builder-tools/frankenwallet.png
Labels: builder tool

#816 Add Connect with wallet builder tool
  src/data/builder-tools.js
  src/data/builder-tools/cardano-connect-with-wallet.png
Labels: builder tool

#813 Add Project Catalyst Fund 9 Voting Results
  docs/governance/project-catalyst.md
Labels: documentation

#801 add open graph image for adao blog
  blog/2022-09-23-september.md
  static/img/og/og-blog-adao.png
Labels: documentation

#819 Fix tutorial links in plutus.md
  docs/smart-contracts/plutus.md
Labels: documentation

#814 Update testnet files + outcome from cli query tip
  docs/get-started/running-cardano.md
  docs/integrate-cardano/testnet-faucet.md
Labels: documentation

#817 Add cnft (npm lib) builder tool
  src/data/builder-tools.js
  src/data/builder-tools/cnft9000.png
Labels: builder tool

#820 Add Bakrypt.io builder tool
  src/data/builder-tools.js
  src/data/builder-tools/bakrypt-io.png
Labels: builder tool

#791 Installing cardano-node: MacOS missing openssl
  docs/get-started/installing-cardano-node.md
Labels: documentation

#822 Add CARP builder tool
  src/data/builder-tools.js
  src/data/builder-tools/carp.png
Labels: builder tool

#824 Add Pooldata.live builder tool
  src/data/builder-tools.js
  src/data/builder-tools/pooldata-live.png
Labels: builder tool

#823 Add amount of PRs in Changelog
  CHANGELOG.md
Labels: documentation

#783 Add Plutip builder tool
  src/data/builder-tools.js
  src/data/builder-tools/plutip.png
Labels: builder tool

#830 Add Carda Station to showcase
  src/data/showcase/cardastation.png
  src/data/showcases.js
Labels: showcase

#828 Discover Native Tokens: correct link to NFT Support showcase
  docs/native-tokens/overview.md
Labels: documentation

#806 Add Koios Python builder tool
  src/data/builder-tools.js
  src/data/builder-tools/koios-python.png
Labels: builder tool

#834 Remove un-reusable functions from reusable.ts script file
  scripts/cip.ts
  scripts/reusable.ts
  scripts/rust-library.ts
  scripts/token-registry.ts
Labels: script

#840 Updating Cardano-Signer website url
  src/data/builder-tools.js
Labels: builder tool

#838 Add Demeter.run builder tool
  src/data/builder-tools.js
  src/data/builder-tools/demeter.png
Labels: builder tool

#843 Add more technical concepts by Andrew Westberg
  docs/get-started/technical-concepts.md
Labels: documentation
