Repository cardano-foundation/developer-portal, pull requests merged in 2022-12, with the labels that each got.

#730 Add Lending Pond showcase and a new Lending tag
  src/data/showcase/lending-pond.png
  src/data/showcases.js
Labels: showcase

#766 Add NFT Creator showcase
  src/data/showcase/nft-creator.png
  src/data/showcases.js
Labels: showcase

#872 Added links for latest Marlowe development documentation.
  docs/smart-contracts/marlowe.md
  yarn.lock
Labels: documentation

#877 Revamp stake pool course | Adding Relay Configuration
  docs/stake-pool-guide/cardano-relay-configuration.md
  sidebars.js
Labels: stake pool operators

#878 Add more technical concepts by Andrew Westberg
  docs/get-started/technical-concepts.md
Labels: documentation

#880 Add Bridge filter into showcases
  src/data/showcases.js
Labels: documentation

#882 Fix some typos in minting.md
  docs/native-tokens/minting.md
Labels: typo

#883 Update Docusaurus to 2.2.0
  package.json
  yarn.lock
Labels: dependencies

#885 Skip creating an empty policy script
  docs/native-tokens/minting.md
Labels: documentation

#875 Add Chainport to Showcase
  src/data/showcase/chainport.png
  src/data/showcases.js
Labels: showcase

#890 Add Cardano Verify Datasignature builder tool
  src/data/builder-tools.js
  src/data/builder-tools/cardano-verify-datasignature.png
Labels: builder tool

#896 Add Koios Api Python package project to builder tools
  src/data/builder-tools.js
  src/data/builder-tools/koios-api-python.png
Labels: builder tool

#900 Minor improvement of the native tokens docs
  docs/native-tokens/overview.md
Labels: documentation

#898 Add Koios tag to Builder Tools
  .yarn/install-state.gz
  docs/get-started/koios.md
  src/data/builder-tools.js
  yarn.lock
Labels: documentation, builder tool
