Repository cardano-foundation/developer-portal, pull requests merged in 2022-09, with the labels that each got.

#750 Add cardano-transaction-lib
  src/data/builder-tools.js
  src/data/builder-tools/cardano-transaction-lib.png
Labels: builder tool

#755 Addition of HeliosLang
  src/data/builder-tools.js
  src/data/builder-tools/helioslang.png
Labels: builder tool

#702 feat: Add haltscam project
  src/data/showcase/haltscam.png
  src/data/showcases.js
Labels: showcase

#757 Fix displaying unfiltered 10 last projects in showcases
  src/data/builder-tools.js
  src/data/showcases.js
  src/pages/showcase/index.js
  src/pages/tools/index.js
Labels: bug

#758 Add NuFi wallet showcase
  src/data/showcase/nufiwallet.png
  src/data/showcases.js
Labels: showcase

#754 Add NFT Gift Card Creator showcase
  src/data/showcase/gift-card-creator.png
  src/data/showcases.js
Labels: showcase

#725 Add Book Token showcase
  src/data/showcase/book-token.png
  src/data/showcases.js
Labels: showcase

#775 add voteaire to showcase
  src/data/showcase/voteaire.png
  src/data/showcases.js
Labels: showcase

#774 Add Cardano Signer builder tool
  src/data/builder-tools.js
  src/data/builder-tools/cardano-signer.png
Labels: builder tool

#777 cardano-signer: replace narrative thumbnail with logo
  src/data/builder-tools/cardano-signer.png
Labels: builder tool

#779 Add StakePool Operator Scripts builder tool
  src/data/builder-tools.js
  src/data/builder-tools/spo-scripts-gitmachtl.png
Labels: builder tool

#776 Add Github Changelog
  .gitignore
  CHANGELOG.md
  docusaurus.config.js
  package.json
  src/plugins/changelog/index.js
  src/plugins/changelog/theme/ChangelogItem/Header/Author/index.tsx
  src/plugins/changelog/theme/ChangelogItem/Header/Author/styles.module.css
  src/plugins/changelog/theme/ChangelogItem/Header/Authors/index.tsx
  src/plugins/changelog/theme/ChangelogItem/Header/Authors/styles.module.css
  src/plugins/changelog/theme/ChangelogItem/Header/index.tsx
  src/plugins/changelog/theme/ChangelogItem/Header/styles.module.css
  src/plugins/changelog/theme/ChangelogItem/index.tsx
  src/plugins/changelog/theme/ChangelogItem/styles.module.css
  src/plugins/changelog/theme/ChangelogList/index.tsx
  src/plugins/changelog/theme/ChangelogPage/index.tsx
  src/plugins/changelog/theme/ChangelogPaginator/index.tsx
  src/plugins/changelog/theme/Icon/Expand/index.tsx
  src/plugins/changelog/theme/types.d.ts
Labels: enhancement

#790 Fix dates and weeks in Changelog
  CHANGELOG.md
Labels: documentation

#794 Add September 2022 Developer Interview with ADAO
  blog/2022-09-23-september.md
  static/img/devblog/adao-light.svg
Labels: blog

#789 Remove weekly report markdown file (Replaced by Changelog)
  WEEKLY_REPORT.md
Labels: documentation

#785 Update project structure documentation
  docs/portal-contribute.md
Labels: documentation

#800 remove adaex and adapools from Showcase
  src/data/showcase/adaex.png
  src/data/showcase/adapools.png
  src/data/showcases.js
Labels: showcase
