Repository cardano-foundation/developer-portal, pull requests merged in 2022-02, with the labels that each got.

#502 Add dcSpark's Flint Wallet
  src/data/showcase/flintwallet.png
  src/data/showcases.js
Labels: showcase

#504 Update builder tools
  src/data/builder-tools.js
  src/data/builder-tools/plutus-extra.png
  src/data/builder-tools/plutus-fee-estimator.png
Labels: builder tool

#514 Modify design of Tools and Showcase page
  package.json
  src/components/showcase/ShowcaseCard/components/Button.js
  src/components/showcase/ShowcaseCard/components/ShowcaseBody.js
  src/components/showcase/ShowcaseCard/components/ShowcaseFooter.js
  src/components/showcase/ShowcaseCard/components/TagIcons.js
  src/components/showcase/ShowcaseCard/index.js
  src/components/showcase/ShowcaseCard/styles.module.css
  src/components/showcase/ShowcaseCheckbox/styles.module.css
  src/components/showcase/ShowcaseFilterToggle/index.js
  src/components/showcase/ShowcaseFilterToggle/styles.module.css
  src/components/showcase/ShowcaseTagSelect/index.js
  src/components/showcase/ShowcaseTagSelect/styles.module.css
  src/components/showcase/ShowcaseTooltip/index.js
  src/components/showcase/ShowcaseTooltip/styles.module.css
  src/data/builder-tools.js
  src/data/showcases.js
  src/pages/showcase/index.js
  src/pages/showcase/styles.module.css
  src/pages/tools/index.js
  src/pages/tools/styles.module.css
  src/svg/fav.svg
  yarn.lock
Labels: enhancement

#508 Add PyCardano to builder tools
  src/data/builder-tools.js
  src/data/builder-tools/pycardano.png
Labels: builder tool

#516 Showcase updates
  src/data/showcase/ccvault.png
  src/data/showcase/dripdropz.png
  src/data/showcase/epochart.png
  src/data/showcase/nftdot.png
  src/data/showcase/opencnft.png
  src/data/showcase/wmt.png
  src/data/showcases.js
Labels: showcase

#518 Add Oura tool and Rust category tag
  src/data/builder-tools.js
  src/data/builder-tools/oura.png
Labels: showcase
