Repository cardano-foundation/developer-portal, pull requests merged in 2023-08, with the labels that each got.

#1120 Changes on token tools
  src/data/showcase/tokentool.png
  src/data/showcases.js
Labels: showcase

#1043 Add Do It With Lovelace to Showcase
  src/data/showcase/do-it-with-lovelace.png
  src/data/showcases.js
Labels: showcase

#1124 Add Changelog for July
  CHANGELOG.md
Labels: changelog

#1126 Add Catalyst F9 Update technical concept video
  docs/get-started/technical-concepts.md
Labels: documentation

#1111 Add MazzumaGPT to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/mazzumagpt.png
Labels: builder tool

#1127 Add Yaci DevKit into builder tools
  src/data/builder-tools.js
  src/data/builder-tools/yaci-devkit.png
Labels: builder tool

#1018 Adding CIP-25 and CIP-68 References
  docs/native-tokens/minting-nfts.md
Labels: documentation

#1131 Update links to Marlowe playground and tutorial
  docs/smart-contracts/marlowe.md
  src/data/builder-tools.js
Labels: documentation

#1129 Update image for @dotare/cardano-delegation
  src/data/builder-tools/dotare-cardano-delegation.png
Labels: builder tool

#1130 Number of contributors and prs fix on latest changelog
  CHANGELOG.md
Labels: changelog

#1132 Add w3ride-blog to dev blog
  blog/2023-08-21-august.md
  static/img/devblog/w3ride-dark.png
  static/img/devblog/w3ride-light.png
  static/img/og/og-blog-w3ride.png
Labels: blog

#1134 Expand integration overview page
  docs/integrate-cardano/overview.md
Labels: documentation

#1137 Native Assets: Fix testnet IDs
  docs/native-tokens/minting.md
Labels: documentation
