Repository cardano-foundation/developer-portal, pull requests merged in 2023-07, with the labels that each got.

#1099 Add Changelog for June
  CHANGELOG.md
Labels: changelog

#1101 Add NFTCDN to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/nftcdn.png
Labels: builder tool

#1103 Secure Workflow: fix duplications, maintenance editing
  docs/get-started/secure-workflow.md
Labels: documentation

#1041 Add Atlas builder tool
  src/data/builder-tools.js
  src/data/builder-tools/atlas.png
Labels: builder tool

#1094 Add NFT Vending Machine to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/nft-vending-machine.png
Labels: builder tool

#1106 Modify CIP script to fetch multiple files from CIP repo folders
  scripts/cip.ts
Labels: bug

#1105 Update wrong weeks in changelog
  CHANGELOG.md
Labels: documentation

#1110 Hardware Requirements: fix anchor for node releases page
  docs/operate-a-stake-pool/hardware-requirements.md
Labels: documentation
