Repository cardano-foundation/developer-portal, pull requests merged in 2023-06, with the labels that each got.

#1071 Update libsodium hash in node-installation-process.md
  docs/operate-a-stake-pool/node-installation-process.md
Labels: documentation

#1074 Add Continuity Token to Showcase
  src/data/showcase/coto.png
  src/data/showcases.js
Labels: showcase

#1080 Smart Contracts: expand overview page
  docs/smart-contracts/overview.md
Labels: documentation

#1078 Add MarloweStat to Marlowe page
  docs/smart-contracts/marlowe.md
  yarn.lock
Labels: documentation

#1072 Add changelog for May
  CHANGELOG.md
Labels: changelog

#1090 Remove any duplicated content
  docs/get-started/running-cardano.md
  docs/get-started/secure-workflow.md
  sidebars.js
Labels: bug, documentation

#1084 Add potential-robot to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/potential-robot.png
Labels: builder tool

#1087 Update Docusaurus to 2.4.1
  package.json
Labels: dependencies

#1088 Add Hydra to builder tools
  src/data/builder-tools.js
  src/data/builder-tools/hydra.png
Labels: builder tool

#1089 Operate a stakepool : Hardening server guide
  docs/operate-a-stake-pool/hardening-server.md
  sidebars.js
Labels: documentation, stake pool operators

#1086 Add BALANCE showcase
  src/data/showcase/balanceanalytics.png
  src/data/showcases.js
Labels: showcase

#1092 New Dev Spotlight June 2023 Interview with Mandala
  blog/2023-06-15-june.md
  static/img/devblog/mandala-dark.png
  static/img/devblog/mandala-light.png
  static/img/og/og-blog-mandala.png
Labels: blog

#1093 Add websocket and low-level tags for Hydra
  src/data/builder-tools.js
Labels: builder tool

#1095 Marlowe page: add documentation site + audit reports
  docs/smart-contracts/marlowe.md
Labels: documentation

#1097 Marlowe page: add security review
  docs/smart-contracts/marlowe.md
Labels: documentation
