Repository cardano-foundation/developer-portal, pull requests merged in 2023-11, with the labels that each got.

#1169 Smart contracts overview: spelling, grammar, clarity
  docs/smart-contracts/overview.md
Labels: documentation

#1170 Add Changelog for October 2023
  CHANGELOG.md
Labels: changelog

#1173 Add developer blog mainstreet
  blog/2023-11-27-november.md
  static/img/devblog/mainstreet-achievements.png
  static/img/devblog/mainstreet-dark.svg
  static/img/devblog/mainstreet-light.svg
  static/img/devblog/mainstreet-roadmap.png
  static/img/og/og-blog-mainstreet.png
Labels: blog
