Repository cardano-foundation/developer-portal, pull requests merged in 2024-08, with the labels that each got.

#1282 Add changelog June 2024
  CHANGELOG.md
Labels: changelog

#1287 node and cli documentation
  docs/get-started/air-gap.md
  docs/get-started/cardano-cli/get-started/_category_.yml
  docs/get-started/cardano-cli/get-started/deregister-stake-address.md
  docs/get-started/cardano-cli/get-started/get-started.md
  docs/get-started/cardano-cli/get-started/simple-transactions.md
  docs/get-started/cardano-cli/get-started/stake-address-delegation.md
  docs/get-started/cardano-cli/get-started/stakeaddress-registration.md
  docs/get-started/cardano-cli/get-started/treasury-donations.md
  docs/get-started/cardano-cli/get-started/withdraw-rewards.md
  docs/get-started/cardano-cli/governance/constitutional-committee.md
  docs/get-started/cardano-cli/governance/delegating-vote.md
  docs/get-started/cardano-cli/governance/gov-queries.md
  docs/get-started/cardano-cli/governance/governance-actions.md
  docs/get-started/cardano-cli/governance/governance.md
  docs/get-started/cardano-cli/governance/register-drep.md
  docs/get-started/cardano-cli/governance/voting.md
  docs/get-started/cardano-cli/native-assets/native-assets.md
  docs/get-started/cardano-cli/plutus-scripts/plutus-scripts.md
  docs/get-started/cardano-cli/simple-scripts/simple-scripts.md
  docs/get-started/cardano-node/cardano-components.md
  docs/get-started/cardano-node/installing-cardano-node.md
  docs/get-started/cardano-node/new-tracing-system/_category_.yml
  docs/get-started/cardano-node/new-tracing-system/cardano-tracer.md
  docs/get-started/cardano-node/new-tracing-system/quick-start.md
  docs/get-started/cardano-node/rts-options-node.md
  docs/get-started/cardano-node/running-cardano.md
  docs/get-started/cardano-node/topology.md
  docs/get-started/cardano-wallet/installing-cardano-wallet.md
  docs/get-started/installing-cardano-node.md
  docs/integrate-cardano/creating-wallet-faucet.md
  docs/integrate-cardano/listening-for-payments-cli.md
  docs/integrate-cardano/listening-for-payments-wallet.md
  docs/integrate-cardano/overview.md
  docs/native-tokens/overview.md
  docs/operate-a-stake-pool/cardano-relay-configuration.md
  docs/operate-a-stake-pool/guild-ops-suite.md
  docs/transaction-metadata/how-to-create-a-metadata-transaction-cli.md
  docs/transaction-metadata/how-to-create-a-metadata-transaction-wallet.md
  docs/transaction-metadata/retrieving-metadata.md
  docusaurus.config.js
  sidebars.js
  src/components/docs/HydraBuildList/README.txt
  static/img/cli/delegationcycle.gif
  static/img/cli/deregister-stake-address.png
  static/img/cli/peer-discovery.jpeg
  static/img/cli/upbyron.png
  static/img/cli/upshelley.png
Labels: documentation

#1290 Update Governance Section Sidebar To Correctly Display All Files
  sidebars.js
Labels: documentation

#1293 Add Cardano.Sync (aka Argus) to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/argus.png
Labels: builder tool

#1294 Add Pallas.Dotnet to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/pallas-dotnet.png
Labels: builder tool

#1288 PR template - add `yarn.lock` advisement
  .github/PULL_REQUEST_TEMPLATE/builder-tool.md
  .github/PULL_REQUEST_TEMPLATE/showcase.md
  .github/PULL_REQUEST_TEMPLATE/standard-change.md
Labels: enhancement

#1300 Adding Cardano Foundation Explorer and CExplorer to showcases
  src/data/showcase/cexplorer.png
  src/data/showcase/cf-explorer.png
  src/data/showcases.js
Labels: showcase

#1306 "Unrevert" of #1297 "Add Cardano.Sync (aka Argus) to Builder Tools"
  src/data/builder-tools.js
  src/data/builder-tools/argus.png
  src/data/builder-tools/atlas.jpg
  src/data/builder-tools/atlas.png
  src/data/builder-tools/typhonjs.jpg
  src/data/builder-tools/typhonjs.png
Labels: builder tool

#1289 Fix `caniuse` warning in `yarn.lock`
  yarn.lock
Labels: bug

#1295 Add mumak to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/mumak.png
Labels: builder tool

#1296 Add u5c to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/u5c.png
Labels: builder tool

#1311 Submitting governance actions: Use latest guardrails script
  docs/get-started/cardano-cli/governance/governance-actions.md
Labels: documentation
