Repository cardano-foundation/developer-portal, pull requests merged in 2024-12, with the labels that each got.

#1352 Add Danogo products to Showcase
  src/data/showcase/danogo.png
  src/data/showcases.js
Labels: showcase

#1373 Register Stake Pool: correct "VRS" to VRF
  docs/operate-a-stake-pool/register-stake-pool-metadata.md
  docs/operate-a-stake-pool/register-stake-pool.md
Labels: typo

#1372 Add dexhunter blog
  blog/2024-12-09-december.md
  static/img/devblog/dexhunter-dark.png
  static/img/devblog/dexhunter-light.png
  static/img/og/og-blog-dexhunter.png
Labels: blog

#1376 update banner for minswap dex
  src/data/showcase/minswap.png
  src/data/showcases.js
Labels: showcase
