Repository cardano-foundation/developer-portal, pull requests merged in 2024-06, with the labels that each got.

#1273 Add changelog for May 2024
  CHANGELOG.md
Labels: changelog

#1274 Add cardano-node-api to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/cardano-node-api.png
Labels: builder tool

#1279 Add zenGate blog
  blog/2024-06-24-june.md
  static/img/devblog/zengate-dark.svg
  static/img/devblog/zengate-light.svg
  static/img/og/og-blog-zengate.png
Labels: blog
