Repository cardano-foundation/developer-portal, pull requests merged in 2024-05, with the labels that each got.

#1256 Add Xogmios to Builder Tools
  src/data/builder-tools.js
  src/data/builder-tools/xogmios.png
Labels: builder tool

#1257 Add Genius Yield blog
  blog/2024-04-29-april.md
  static/img/devblog/geniusyield-community -dex.jpg
  static/img/devblog/geniusyield-dark.svg
  static/img/devblog/geniusyield-light.svg
  static/img/devblog/geniusyield-my-dex-rewards.jpg
Labels: blog

#1222 Add decon to Showcase
  src/data/showcase/decon.png
  src/data/showcases.js
Labels: showcase

#1266 add Emurgo Academy to Showcase
  src/data/showcase/emurgo-academy.jpg
  src/data/showcases.js
Labels: showcase

#1267 Add Charli3 oracle to Showcase + category cleanup
  src/data/showcase/charli3.jpg
  src/data/showcases.js
Labels: showcase
