Repository cardano-foundation/developer-portal, pull requests merged in 2025-06, with the labels that each got.

#1473 Add Developer Office Hours Series
  blog/2025-02-14-february.md
  blog/2025-02-28-february.md
  blog/2025-03-24-march.md
  blog/2025-03-28-march.md
  blog/2025-04-11-march.md
  blog/2025-05-09-may.md
Labels: blog

#1469 Add Veridian Wallet to Showcase
  src/data/showcase/veridian.png
  src/data/showcases.js
Labels: showcase

#1475 Frankenwallet (SPO & Builder tool): Update URL + doc cleanup
  docs/get-started/air-gap.md
  docs/operate-a-stake-pool/frankenwallet.md
  src/data/builder-tools.js
Labels: documentation

#1486 Q2-2025 updates and and fixes
  blog/2021-12-20-december.md
  blog/2023-08-21-august.md
  blog/2023-11-27-november.md
  blog/2024-02-19-february.md
  docs/get-started/cardano-node/installing-cardano-node.md
  docs/get-started/cardano-node/rts-options-node.md
  docs/get-started/lucid-evolution/transactions.md
  docs/get-started/testnets-and-devnets.md
  docs/governance/cardano-governance/governance-actions.md
  docs/governance/project-catalyst.md
  docs/native-tokens/authenticated-products.md
  docs/native-tokens/minting-nfts.md
  docs/operate-a-stake-pool/improve-grafana-security.md
  docs/smart-contracts/marlowe.md
  docs/smart-contracts/plutus.md
  docusaurus.config.js
Labels: documentation

#1488 Cardano Token Registry Server: fix broken link
  docs/native-tokens/token-registry/cardano-token-registry-server.md
Labels: documentation

#1478 Showcase: Rename HAZELnet to Vibrant
  src/data/showcase/vibrant.png
  src/data/showcases.js
Labels: showcase

#1489 Update Veridian Wallet Thumbnail
  src/data/showcase/veridian.png
  src/data/showcase/veridian2.png
  src/data/showcases.js
Labels: showcase

#1456 Add adastack.io to showcase
  src/data/showcase/adastack.png
  src/data/showcases.js
Labels: showcase
